{{#each data}}
<div>
    <a href="">{{this.title}}</a>
    <a href="">{{this.author_name}}</a>
    <a href="">{{this.total_stock}}</a>
    <a href="">{{this.checked_out}}</a>
    <a href="">{{this.in_stock}}</a>
</div>
{{/each}}
